/* styles */
/* called by your view template */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    /*margin: 2em;*/
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-style: italic;
    color: #373fff;
}

.bold {
    font-weight: bold;
}

p {
    max-width: 600px;
}

form {
    margin-bottom: 25px;
    padding: 15px;
    /*background-color: cyan;*/
    display: inline-block;
    width: 100%;
    max-width: 340px;
    border-radius: 3px;
}

input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 3px;
    font-size: 16px;
}

button {
    font-size: 16px;
    border-radius: 3px;
    background-color: lightgrey;
    border: 1px solid grey;
    box-shadow: 2px 2px teal;
    cursor: pointer;
}

button:hover {
    background-color: yellow;
}

button:active {
    box-shadow: none;
}

li {
    margin-bottom: 5px;
}

footer {
    margin-top: 50px;
    padding-top: 25px;
    border-top: 1px solid lightgrey;
}

/******************************************/

body {
    /*background-color: #eee;*/
}

.app {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

h2 {
    color: black;
    font-size: 2em;
}

h2:hover {
    text-decoration: underline;
}

.message {
    color: white;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}

.message.in {
    background-color: #eee;
    margin: 10px 25vmin 10px 10px;
    color: black;
}

.message.out {
    background-color: #27d927;
    margin: 10px 10px 10px 25vmin;
    color: white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.largeMessage {
    font-size: 20vmin;
}